<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Adalab Web Starter Kit</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <h1>Buscador de series:</h1>
  <form action="post">
    <input class="js-input" type="text" placeholder="Busca una serie">
    <button class="js-submit" type="submit">Search</button>
  </form>
  <section class="result__container">
    <div>
      <h3>Mis series Favoritas:</h3>
      <ul></ul>
    </div>
    <ul class="js-results"></ul>
  </section>
  <script src="./assets/js/main.js"></script>
</body>

</html>
